{% extends 'base.html' %}

{% block title %}Eliminar Receta{% endblock %}

{% block content %}
  <section style="min-height: 100vh;">
    <div class="container p-5" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 8px;">
      <h1 class="text-center mb-4" style="color: white;">¿Estás seguro de que quieres eliminar esta receta?</h1>

      <div style="color: white; font-size:20px">
        <h3 style="color: white;">{{ receta.titulo }}</h3>
        <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
        <p><strong>Tiempo de preparación:</strong> {{ receta.tiempo_preparacion }} minutos</p>
        <p><strong>Ingredientes:</strong> {{ receta.ingredientes }}</p>
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-danger" style="font-size:23px">Eliminar</button>
          <a href="{% url 'listado_recetas' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}