{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <style>
        .profile-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        .profile-img img {
            width: 250px; /* Ajusta el tamaño según sea necesario */
            height: 250px; /* Ajusta el tamaño según sea necesario */
            border-radius: 50%; /* Hace que la imagen sea redonda */
            object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
        }
        .profile-img h1, .profile-img h3 {
            text-align: center;
            color: white;
        }
    </style>
    <div class="container-fluid-custom text-depth">
        <div class="row">
            <!-- Columna para la imagen de perfil y el texto -->
            <div class="col-md-4 profile-img">
                <img src="{% static 'images/contacto.jpg' %}" alt="Lucas Nuñez" class="img-fluid">
                <h1>Lucas Nuñez</h1>
                <h3>Creador del sitio</h3>
            </div>

            <!-- Columna para el contenido -->
            <div class="col-md-8">
                <!-- Sección "Sobre mí" -->
                <div class="row">
                    <div class="col-md-12 text-container">
                        <br>
                        <div class="highlight-title" style="font-size:25px;">Sobre mí</div>
                        <p>¡Hola! Soy Lucas Nuñez, estudiante de Licenciatura en Gestión de Tecnología y con título de Técnico en Informática. Mi carrera comenzó con 2 años de estudios en Ingeniería en Sistemas, y actualmente me desempeño como Soporte de aplicaciones SAP en Paladini S.A con ya casi 3 años de experiencia en la empresa, dedicandome a los módulos SD y MM. A lo largo de mi trayectoria también he adquirido experiencia en el área de Logística, lo que me ha permitido combinar mi pasión por la tecnología con un enfoque práctico en sistemas y procesos.</p>
                    </div>
                </div>

                <!-- Sección "Intereses" -->
                <div class="row">
                    <div class="col-md-12 text-container">
                        <div class="highlight-title" style="font-size:25px;">Intereses</div>
                        <p>Además de mi carrera en el mundo de la Tecnología, me agrada la cocina, y crecí en un hogar donde la repostería fue siempre una parte importante. Fue esto lo que me inspiró a crear una página de recetas, con el objetivo de ofrecer un espacio donde las personas puedan encontrar <b>inspiración culinaria</b>, compartir sus creaciones y descubrir nuevas recetas para disfrutar en familia</p>
                    </div>
                </div>

                <!-- Sección "Contacto" -->
                <div class="row">
                    <div class="col-md-12 text-container">
                        <div class="highlight-title" style="font-size:25px;">Contacto</div>
                        <p>Si tienes alguna duda, propuesta o simplemente quieres hablar sobre tecnología, cocina o cómo combinar ambas cosas, ¡no dudes en contactarme! Estaré encantado de ayudarte y seguir compartiendo esta pasión.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}