{% extends 'inicio/receta_CRUD_base.html' %}

{% block title %}Crear receta{% endblock %}

{% block form_title %}Crear receta{% endblock %}



{% block form_fields %}

<div class="mb-3">
    {{ form.titulo.label_tag }}
    {{ form.titulo }}

    <!--   codigo para validacion, se comenta por el momento  <label for="{{ form.titulo.id_for_label }}">Título</label> 
    {{ form.titulo }}
    {% if form.titulo.errors %}
        <ul class="errorlist" style="color: rgb(247, 243, 243);">
            {% for error in form.titulo.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}-->

</div>
<div class="mb-3">
    {{ form.descripcion.label_tag }}
    {{ form.descripcion }}
</div>
<div class="mb-3">
    {{ form.ingredientes.label_tag }}
    {{ form.ingredientes }}
</div>
<div class="mb-3">
    {{ form.pasos.label_tag }}
    {{ form.pasos }}
</div>
<div class="mb-3">
    {{ form.tiempo_preparacion.label_tag }}
    {{ form.tiempo_preparacion }}
    <small class="form-text text-muted">{{ form.tiempo_preparacion.help_text }}</small>
</div>
<div class="mb-3">
    {{ form.imagen.label_tag }}
    {{ form.imagen }}
</div>
{% endblock %}

{% block form_button %}Crear receta{% endblock %}
