<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
</head>
<body>
    <h1>Listado de productos</h1>
    <form action="">
        {{formulario}}
        <input type="submit" value="Buscar">
    </form>
    {% if productos %}
        <ul>
            {% for producto in productos %}
                <li>{{producto}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No existen productos cargados</p>

    {% endif %}

</body>
</html>