{% extends 'base.html' %}
{% load static %}

{% block title %}Mi Perfil{% endblock %}

{% block content %}
<style>
    /* Reutilizando los estilos de editar_perfil */
    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        color: white;
        font-family: 'Arial', sans-serif;
    }

    .profile-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ffffff;
        position: relative;
    }
    .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-info, .profile-extra, .profile-details {
        width: 100%;
        max-width: 650px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        margin-bottom: 20px;
        color: white;
    }

    .profile-info h2, .profile-info h3  {
        font-size: 1.3rem;
        margin-bottom: 10px;
        color: white;
    }
    .alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de opacidad */
    }

</style>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<div class="container profile-container">
    <!-- Imagen de perfil -->
    <div class="profile-img-container">
        {% if user.infousuario.foto_perfil and user.infousuario.foto_perfil.url %}
            <div class="profile-img">
                <img src="{{ user.infousuario.foto_perfil.url }}" alt="Imagen de perfil">
            </div>
        {% else %}
            <div class="profile-img">
                <img src="{% static 'images/profile.webp' %}" alt="Imagen de perfil">
            </div>
        {% endif %}
    </div>

    <!-- Información del usuario -->
     <div>
        <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
        <a href="{% url 'mis_recetas' request.user.id %}" class="btn btn-primary">Mis Recetas</a>
     </div>

    <div class="profile-info text-depth" style="font-size:1.2rem;">
        <h2 style="background-color: rgba(250, 247, 247, 0.3)">&nbsp;&nbsp;&nbsp;{{ usuario.username }}</h2>
        <p>Nombre y apellido: {{ user.first_name|default:"No especificado" }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Teléfono: {{ user.infousuario.telefono|default:"No especificado" }}</p>
        <p>Fecha de nacimiento: {{ user.infousuario.fecha_nacimiento|default:"No especificado" }}</p>
    </div>

    <!-- Información adicional -->
    <div class="profile-info" style="font-size:1.2rem;">
        <h3 style="background-color: rgba(250, 247, 247, 0.3)">&nbsp;&nbsp;&nbsp;Sobre mí: </h3> 
        <p>{{ user.infousuario.detalle_perfil|default:"No especificado" }}</p>

        <h3 style="background-color: rgba(250, 247, 247, 0.3)">&nbsp;&nbsp;&nbsp;Intereses culinarios: </h3> 
        <p>{{ user.infousuario.intereses_culinarios|default:"No especificado" }}</p>
    </div>

    <!-- Ubicación -->
    <div class="profile-info" style="font-size:1.2rem;">
        <h3 style="background-color: rgba(250, 247, 247, 0.3)">&nbsp;&nbsp;&nbsp;Nacionalidad: </h3> 
        <p> {{ ubicacion.provincia|default:"No especificado" }}</p>
        <p>Localidad: {{ ubicacion.ciudad|default:"No especificado" }}</p>
    </div>
    
</div>
    

{% endblock %}